.dialogsMessages {
  width: 70%;
  min-height: 100%;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
}

.messagesBlock {
  flex: 1 1 auto;
}

.inputPost {
  display: block;
  width: 70%;
  height: 65px;
  font-size: 18px;
  font-family: Roboto, sans-serif;
}

.inputButton {
  width: 130px;
  height: 30px;
  margin-top: 5px;
}

.inputButton {
  font-weight: bold;
  font-size: 14px;
  color: #007388;
  transition: color 0.2s;
}