.user {
  display: flex;
  padding: 15px;
}

.user img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #cecdcd;
  margin: 0 5px 0 0;
}

.userPhoto {
  width: 25%;
}

.userInfo {
  width: 50%;
}

.userBtn {
  width: 25%;
}
