.nav {
    grid-area: n;
    background: #E5E5E5;
    padding: 15px;
}

.item {
    padding: 0 0 10px 0;
}

.item a {
    text-decoration: none;
    color: #007388;
    transition: color 0.2s;
}
.item a:hover {
    color: #91c6f5;
}
.item a.active {
    color: #ea2121;
}
.item a.active:hover {
    color: #ef8080;
}