.container {
}

.auth {
	text-align: center;
}

.form {
	width: 350px;
	margin: 0 auto;
}

.login_box {
	margin-bottom: 15px;
}

.field {
	width: 350px;
	font-size: 18px;
	padding: 5px;
	border-radius: 7px;
	border: none;
}

.checkbox {
	font-size: 18px;
}

.container__btn {
	display: flex;
	justify-content: center;
	margin-top: 50px;
}

.btn {
	font-size: 20px;
	border-radius: 7px;
	border: none;
	width: 100px;
	height: 40px;
	color: #007388;
	box-shadow: 0 2px 5px #bbbaba;
	transition: box-shadow 0.2s, color 0.2s;
}
.btn:hover {
	color: #91c6f5;
	box-shadow: 0 -1px 5px #bbbaba;
}
.btn:active {
	box-shadow: 0 2px 5px #bbbaba;
}
